.portfolio {
	padding: 80px 0;
	color: #515f67;
	font-family: 'Segoe UI', sans-serif;
	background-color: #ffffff;
}

.portfolio__nav-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.portfolio__header {
	position: relative;
	margin: 0;
	margin-bottom: 10px;
	font-size: 30px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 300;
}

.portfolio__header::after {
	content: "";
	position: absolute;
	bottom: -12px;
	left: 0;
	width: 45px;
	height: 2px;
	background-color: currentColor;
}

.portfolio__portfolio-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.portfolio-nav__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0 10px;
	padding: 0;
}

.portfolio-nav__link {
	padding: 3px 15px 4px;
	color: inherit;
	font-size: 14px;
	line-height: 19px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: .05s ease-out;
	-o-transition: .05s ease-out;
	transition: .05s ease-out;
}

.portfolio-nav__link:hover {
	color: #4bcaff;
}

.portfolio-nav__link--current {
	color: #4bcaff;
	-webkit-box-shadow: 0 0 0 2px #4bcaff;
	        box-shadow: 0 0 0 2px #4bcaff;
}

.portfolio-nav__link--current:hover {
	color: #515f67;
	-webkit-box-shadow: 0 0 0 2px #515f67;
	        box-shadow: 0 0 0 2px #515f67;
}

.portfolio__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	margin-bottom: -30px;
	margin-top: 80px;
	padding: 0;
	list-style: none;
}

.portfolio__item {
	cursor: pointer;
	position: relative;
	margin: 0;
	padding: 0;
	width: 270px;
	height: 270px;
	margin-bottom: 30px;
}

.portfolio__item:hover::before {
	content:"";
	z-index: 1;
	position: absolute;
	width: 270px;
	height: 270px;
	top: 0;
	left: 0;
	background-color: rgba(53, 63, 70, 0.85);
	-webkit-animation-name: show;
	        animation-name: show;
	-webkit-animation-duration: .15s;
	        animation-duration: .15s;
}

.portfolio__item:hover::after {
	content: "";
	z-index: 2;
	position: absolute;
	background-image: url('../img/+.png');
	width: 32px;
	height: 33px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-animation-name: show;
	        animation-name: show;
	-webkit-animation-duration: .15s;
	        animation-duration: .15s;
}

@-webkit-keyframes show {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes show {
	0% {opacity: 0;}
	100% {opacity: 1;}
}